*{
  background-color: black;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
  font-size: 50px;
  text-align: center;
  color: white;
  border: 5px solid aquamarine;
}
.App{
  margin: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Friendlist {
  font-size: 50px;
  border: 2px solid black;
}